.section__places{
    width: calc(100% - 148px*2);
    max-width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width: 1079px) {
    .section__places{
        width: calc(100% - 48px*2); 
    }

    
}
@media screen and (max-width: 1023px) {
    .section__places{
        width: calc(100% - 24px*2); 
    }

    
}
@media screen and (max-width: 767px) {
    .section__places{
        width: 100%; 
    }

    
}