.places{
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    max-width: calc(100% - 148px*2);
    margin: 92px auto 0 auto;
}
@media screen and (max-width: 1279px) {
    .places{
        max-width: calc(100% - 48px*2); 
    }
}
@media screen and (max-width: 1023px) {
    .places{
        margin-top: 88px;
        max-width: calc(100% - 24px*2); 
    } 
}
@media screen and (max-width: 767px) {
    .places{
        margin-top: 64px;
        max-width: 100%; 
    } 
}