.header{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1184px;
width: calc(100% - 48px*2);
margin: 28px auto 0 auto;
}
@media screen and (max-width: 1279px) {
    .header{
        width: calc(100% - 48px*2);
    }
}
@media screen and (max-width: 767px) {
    .header{
        margin-top: 16px;
        width: calc(100% - 24px*2);
    }
    
    
}
@media screen and (max-width: 767px) {
    .header{
        width: calc(100% - 16px*2);
        max-width: 100%;
    }
    
}