.cover{
    position: relative;
    min-height: 740px;
    color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    width: calc(100% - 48px*2);
    max-width: 1280px;
    margin: 92px auto 0 auto;

}
@media screen and (max-width: 1279px) {
    .cover{
        min-height: 640px;
        margin-top: 92px;
        width: 100%;
        max-width: 1279px;
    }
    
}
@media screen and (max-width: 1023px) {
    .cover{
        min-height: 480px;
        margin-top: 90px;
    }
    
}

@media screen and (max-width: 767px) {
    .cover{
        min-height: 200px;
        margin-top: 66px;
    }
    
}

